# deps
node_modules/
.pnpm-store/

# builds
dist/
out/
.next/
build/
contracts/out/
contracts/cache/
contracts/broadcast/**/dry-run/

# env & secrets
.env
.env.local
.env.*.local
*.key
keystore/

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# os / editor
.DS_Store
Thumbs.db
.idea/
.vscode/*
!.vscode/extensions.json

# telemetry local cache
.telemetry-cache/
